---
import Contactform from "@components/contactform.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import Layout from "@layouts/Layout.astro";
import { Icon } from "astro-icon/components";
---

<Layout title="Contact">
  <Container>
    <Sectionhead>
      <Fragment style="color:white" slot="title">Join the waitlist</Fragment>
      <Fragment slot="desc">If you are inquiring to join the waitlist, please submit the form below.</Fragment>
    </Sectionhead>

    <div class="grid md:grid-cols-1 gap-10 mx-auto max-w-xl mt-16">
      <div>
        <Contactform />
      </div>
    </div>
  </Container>
</Layout>
